
<!-- MODIFICAR ESTADO -->
<!-- Botón para abrir el modal -->
<button class="boton-ventana estiloBtn"
  onclick="my_modal_2.showModal()">MODIFICAR ESTADO</button>

<!-- Modal -->
<dialog id="my_modal_2" class="modal">
  <div class="modal-box w-full max-w-md p-6 bg-white rounded-lg shadow-lg">
    <h3 class="text-xl font-semibold mb-4">Modificar Estado</h3>

    <p>Ingrese el DNI del empleado que desea activar o desactivar</p>
    <!-- Formulario del modal -->
    <form action="{{ url_for('usuario.modificar_estado_usuario_route') }}"
      method="POST">

      <button
        class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
      <div>
        <label for="idDni"
          class="block text-sm font-medium text-white-700">DNI:</label>
        <input type="text" name="dni" id="idDni"
          class="mt-1 block w-full rounded border border-white-300 px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
      </div>

      <div>
        <label for="idEstado"
          class="block text-sm font-medium text-white-700">Estado:</label>
        <select name="estado" id="estado"
          class="mt-1 block w-full rounded border border-white-300 px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
          <option value="activo">Activo</option>
          <option value="suspendido">Suspendido</option>
          <option value="inactivo">Inactivo</option>
        </select>
      </div>

      <!-- Botones del formulario -->
      <div class="flex justify-end space-x-2 pt-4">
        <button type="submit"
          class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700">Aceptar</button>
        <button type="button" onclick="my_modal_2.close()"
          class="px-4 py-2 bg-gray-300 text-white-800 rounded hover:bg-gray-400">Cerrar</button>
      </div>
    </form>
  </div>
</dialog>
